<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.note.dao.UserDao">
	<!-- 增 -->
	<insert id="saveUser" parameterType="cn.tedu.note.entity.User">
		insert into cn_user 
		(cn_user_id,
		cn_user_name,
		cn_user_password,
		cn_user_token,
		cn_user_nick)
		values 
		(#{id},#{name},#{password},#{token},#{nick})
	</insert>
	
	<!-- 查ByID -->
	<select id="findById" parameterType="String" resultType="cn.tedu.note.entity.User">
		select 
			cn_user_id as id,
			cn_user_name as name,
			cn_user_password as password,
			cn_user_token as token,
			cn_user_nick as nick
		from 
			cn_user 
		where 
			cn_user_id=#{id}
	</select>
	
	<!-- 查ByName -->
	<select id="findByName" parameterType="String" resultType="cn.tedu.note.entity.User">
		select 
			cn_user_id as id,
			cn_user_name as name,
			cn_user_password as password,
			cn_user_token as token,
			cn_user_nick as nick
		from 
			cn_user 
		where 
			cn_user_name=#{name}
	</select>
	
	<!-- 查所有 -->
	<select id="findAll" resultType="cn.tedu.note.entity.User">
		select 
			cn_user_id as id,
			cn_user_name as name,
			cn_user_password as password,
			cn_user_token as token,
			cn_user_nick as nick
		from 
			cn_user 
	</select>
	
	<!-- 删 -->
	<delete id="deleteOne" parameterType="string" >
		delete from cn_user where cn_user_name=#{name}
	</delete>
	
	<!-- 改 -->
	<update id="modify" parameterType="cn.tedu.note.entity.User" >
		update 
			cn_user 
		set 
			cn_user_password=#{password},
			cn_user_nick=#{nick}
		where
			cn_user_name=#{name}
	</update>
</mapper>